@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit">
    <h1>Get Your Post Room Under Control</h1>
    <p>
        Post Room is a service designed for housing complexes, businesses and universities. 
        It allows you to track all incoming mail items and inform people they have deliveries.
    </p>
    <p><a href="@Url.Action("Index","Estate")" class="btn btn-primary btn-large">View Demo &raquo;</a></p>
</div>

<!-- Example row of columns -->
<div class="row">
    <div class="span4">
        <h2>Full Control</h2>
        <p>
            Track the arrival and collection of all mail items received by your post room.
            You will know what items you have at all times. This is useful around the busiest 
            postal periods such as Christmas.
        </p>
        @*<p><a class="btn" href="#">View details &raquo;</a></p>*@
    </div>
    <div class="span4">
        <h2>Inform Recipients</h2>
        <p>
            Recipients that are using the Post Room iOS app will be automatically notified each
            time a package arrives. They can also set reminders for themselves, so they don't leave their 
            postal items for too long before collection.
        </p>
        @*<p><a class="btn" href="#">View details &raquo;</a></p>*@
    </div>
    <div class="span4">
        <h2>Safe & Secure</h2>
        <p>
            Post Room is designed and built with security in mind. All connections are secured using HTTPs
            and access is managed using two-factor authentication.
        </p>
        @*<p><a class="btn" href="#">View details &raquo;</a></p>*@
    </div>
</div>
