@model List<PostRoom.Data.Building>
<h2>Post
 <a href="#myModal" role="button" class="btn" data-toggle="modal" style="float: right; margin-left: 5px;">
     <i class="icon-plus"></i>
     Record Delivery</a>
    @*<button class="btn" style="float: right;"><i class="icon-minus"></i>Record Collection</button>*@
</h2>
<hr />
@{ int collapseGroup = 0; }
<div class="accordion" id="accordion2">
    @foreach (var building in Model)
    {
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse_@collapseGroup">
                    @building.Name
                    <span class="badge badge-info" style="float: right;">????</span>
                </a>
            </div>
            <div id="collapse_@collapseGroup" class="accordion-body collapse">
                <div class="accordion-inner">
                </div>
            </div>
        </div>
    
        { collapseGroup++; }
    }
</div>

<div id="myModal" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Recovd Delivery</h3>
    </div>
    <div class="modal-body">
        <p>Details of the delivery are captured here.</p>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
        <button class="btn btn-primary">Record</button>
    </div>
</div>

@section script
{
    <script type="text/javascript">
        $().ready(function () {
            $('#collapse_2').on('shown', function () {

            });
        });
    </script>
}
