@model List<PostRoom.Data.Building>
<h1>Post
 @* <button class="btn" style="float: right; margin-left: 5px;">
    <i class="icon-plus"></i>
    Record Delivery</button>
  <button class="btn" style="float: right;"><i class="icon-minus"></i>Record Collection</button>*@
</h1>
<hr />
@{ int collapseGroup = 0; }
<div class="accordion" id="accordion2">
  @foreach (var building in Model)
  {
    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse_@collapseGroup">
          @building.Name
          <span class="badge badge-info" style="float: right;">????</span>
        </a>
      </div>
      <div id="collapse_@collapseGroup" class="accordion-body collapse">
        <div class="accordion-inner">
        </div>
      </div>
    </div>
    
    { collapseGroup++; }
  }
</div>
