@model System.Int64
<h2>Post
 <a href="#myModal" role="button" class="btn" data-toggle="modal" style="float: right; margin-left: 5px;">
     <i class="icon-plus"></i>
     Record Delivery</a>
    @*<button class="btn" style="float: right;"><i class="icon-minus"></i>Record Collection</button>*@
</h2>
<hr />
<div class="accordion" id="accordion2" data-bind="foreach: buildings">
    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse" data-bind="click: loadApartments">
                <span data-bind="text: name"></span>
                <span class="badge badge-info" style="float: right;" data-bind="text: totalPackages"><i class="icon-spinner icon-spin"></i></span>
            </a>
        </div>
        <div class="accordion-body" data-bind="css: { collapse: showApartments() === false }">
            <div class="accordion-inner">
                <div data-bind="visible: loadingApartments">
                    <i class="icon-spinner icon-spin"></i>&#186;Loading Apartment List...
                </div>
                <table class="table table-bordered" data-bind="visible: loadingApartments() === false">
                    <tbody data-bind="foreach: apartments">
                        <tr>
                            <td style="vertical-align: middle;">
                                <span data-bind="text: number"></span>
                                <button class="btn btn-small" style="float: right;" data-bind="click: showUpdateDialog">Update</button>
                                <span class="badge badge-info" style="float: right; margin-top: 5px; margin-right: 15px;">2</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div id="myModal" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Recovd Delivery</h3>
    </div>
    <div class="modal-body">
        <p>Details of the delivery are captured here.</p>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
        <button class="btn btn-primary">Record</button>
    </div>
</div>

<div id="updateApartmentDeliveriesModel" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3>Update Deliveries</h3>
    </div>
    <div class="modal-body">
        <p>Details of the delivery are captured here.</p>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
        <button class="btn btn-primary">Record</button>
    </div>
</div>

@section script
{
    <script type="text/javascript">

        var model = new postModel();

        function postModel() {
            var self = this;
            self.buildings = ko.observableArray();
        };

        function buildingModel() {
            var self = this;

            self.buildingId = ko.observable();
            self.name = ko.observable();
            self.totalPackages = ko.observable();
            self.showApartments = ko.observable(false);
            self.loadingApartments = ko.observable(false);
            self.apartments = ko.observableArray();

            self.load = function () {
                $.ajax({
                    type: "Get",
                    url: "@Url.Action("OutstandingPackages")?buildingId=" + self.buildingId(),
                    dataType: "json"
                }).done(function (data) {
                    self.totalPackages(data);
                });
            };

            self.loadApartments = function () {

                self.showApartments(!self.showApartments());

                if (self.showApartments()) {

                    self.loadingApartments(true);

                    $.ajax({
                        type: "Get",
                        url: "@Url.Action("Apartments")?buildingId=" + self.buildingId(),
                        dataType: "json"
                    }).done(function (data) {

                        for (var i = 0; i < data.length; i++) {
                            var apartment = new apartmentModel();
                            apartment.number(data[i].Number);
                            self.apartments.push(apartment);
                        }

                        self.loadingApartments(false);
                    });
                }
            };
        };

        function apartmentModel() {
            var self = this;

            self.number = ko.observable();

            self.showUpdateDialog = function () {
                $("#updateApartmentDeliveriesModel").modal();
            };
        };

        $().ready(function () {

            ko.applyBindings(model);

            $.ajax({
                type: "Get",
                url: "@Url.Action("Post", new { estateId = Model })",
                dataType: "json"
            }).done(function (data) {

                if (data == null) {
                    return;
                }

                for (var i = 0; i < data.length; i++) {
                    var building = new buildingModel();
                    building.buildingId(data[i].BuildingId);
                    building.name(data[i].Name);
                    model.buildings.push(building);

                    building.load();
                }

            });
        });
    </script>
}
