@model PostRoom.Web.Models.ForgotPasswordModel
@{
    ViewBag.Title = "ForgotPassword";
}

<h2>Forgot Your Password?</h2>
<p>
    If you have forgotten your password, just enter your email address here and you will be sent a link that will allow you to reset your password.
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.TextBoxFor(m => m.EmailAddress)
        @Html.ValidationMessageFor(m => m.EmailAddress)
        <br />
        <button class="btn btn-primary">Send Reset Link</button>
    }

</p>
