@{
    ViewBag.Title = "ResetLinkSent";
}

<div class="page-header">
    <h1>Reset Link Sent</h1>
</div>
<p>An email containing a link to reset your password is on its way. Just follow the instructions in the email to reset your password.</p>
